# Multiple Regression

- Do age and IQ scores effectively predict GPA?
- Do weight, height, and age explain the variance in cholesterol levels?

## Learning goals:

For a multivariable linear regression, students will be able to:

* compare and contrast with univariable linear regression
* write an example of the equation
* develop one with statsmodels 
* assess the model fit 
* interpret coefficients
* validate the model
* export the model

### Keyterms
- Multivariable
- Train-test split
- MSE: Mean squared error
- RSME: Root squared mean error

## Scenario

The University of San Paulo in Brazil is likes to party. We are a contracted beer supplier to the University and we want to make sure we have enough supply on hand. We are hoping to build a model that can predict beer consumption given other variables. 


![beer](pexels-photo-544988-small.jpeg)
More about the dataset can be found [here](https://www.kaggle.com/dongeorge/beer-consumption-sao-paulo)

###  Prior Knowledge


Before looking at the dataset, what variables do we think might be in there? What might make a student drink more? 

#### Step 1:  Discussion 

- compare and contrast with univariable linear regression
- How is this different from the regression we've done before?
- Here, you'll explore how to perform linear regressions using multiple independent variables to better predict a target variable.

#### Step 2:  Develop a multivariable regression model with statsmodels 

**Load Libraries and load in data**

In [50]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score, train_test_split

import matplotlib.pyplot as plt

In [36]:
df = pd.read_csv('Consumo_cerveja.csv')

In [37]:
df.head()

,Data,Temperatura Media (C),Temperatura Minima (C),Temperatura Maxima (C),Precipitacao (mm),Final de Semana,Consumo de cerveja (litros)
0,2015-01-01,"27,3","23,9","32,5",0,0.0,25.461
1,2015-01-02,"27,02","24,5","33,5",0,0.0,28.972
2,2015-01-03,"24,82","22,4","29,9",0,1.0,30.814
3,2015-01-04,"23,98","21,5","28,6","1,2",1.0,29.799
4,2015-01-05,"23,82",21,"28,3",0,0.0,28.900

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 941 entries, 0 to 940
Data columns (total 7 columns):
Data                           365 non-null object
Temperatura Media (C)          365 non-null object
Temperatura Minima (C)         365 non-null object
Temperatura Maxima (C)         365 non-null object
Precipitacao (mm)              365 non-null object
Final de Semana                365 non-null float64
Consumo de cerveja (litros)    365 non-null float64
dtypes: float64(2), object(5)
memory usage: 51.5+ KB

### Small Data Cleaning Tasks:
- Drop Date
- convert all the columns to numeric (replace ',' with '.')
- rename columns to be `name = ['temp-median', 'temp-min', 'temp-max', 'rain', 'finals-week', 'target']`

In [38]:
df.drop(["Data"], axis = 1, inplace = True)

name = ['temp_median', 'temp_min', 'temp_max', 'rain', 'finals_week', 'target']
df.columns = name

df = df.applymap(lambda x:x.replace(",",".") if type(x) == str else x)

df['temp_median'] = df['temp_median'].astype('float')
df['temp_min'] = df['temp_min'].astype('float')
df['temp_max'] = df['temp_max'].astype('float')
df['rain'] = df['rain'].astype('float')

In [39]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 941 entries, 0 to 940
Data columns (total 6 columns):
temp_median    365 non-null float64
temp_min       365 non-null float64
temp_max       365 non-null float64
rain           365 non-null float64
finals_week    365 non-null float64
target         365 non-null float64
dtypes: float64(6)
memory usage: 44.2 KB

,temp_median,temp_min,temp_max,rain,finals_week,target
count,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000
mean,21.226356,17.461370,26.611507,5.196712,0.284932,25.401367
std,3.180108,2.826185,4.317366,12.417844,0.452001,4.399143
min,12.900000,10.600000,14.500000,0.000000,0.000000,14.343000
25%,19.020000,15.300000,23.800000,0.000000,0.000000,22.008000
50%,21.380000,17.900000,26.900000,0.000000,0.000000,24.867000
75%,23.280000,19.600000,29.400000,3.200000,1.000000,28.631000
max,28.860000,24.500000,36.500000,94.800000,1.000000,37.937000

**Check** for NaNs

In [42]:
df.isna().sum()

temp_median    576
temp_min       576
temp_max       576
rain           576
finals_week    576
target         576
dtype: int64

In [43]:
df.dropna(inplace=True)

In [44]:
df.shape

(365, 6)

### Everyone write an example of an equation for our multiple regression

The main idea here is pretty simple. Whereas, in simple linear regression we took our dependent variable to be a function only of a single independent variable, here we'll be taking the dependent variable to be a function of multiple independent variables.

<img src="https://miro.medium.com/max/1400/1*d0icRnPHWjHSNXxuoYT5Vg.png" width=450 />

Our regression equation, then, instead of looking like $\hat{y} = mx + b$, will now look like:

$\hat{y} = \hat{\beta}_0 + \hat{\beta}_1x_1 + ... + \hat{\beta}_nx_n$.

Remember that the hats ( $\hat{}$ ) indicate parameters that are estimated.

$$ \hat y = \hat\beta_0 + \hat\beta_1 x_1 + \hat\beta_2 x_2 +\ldots + \hat\beta_n x_n $$ 

What would the formula be with real values?

**Send your equations to me via zoom or slack and I will paste them into the notebook**

Equations here

>

![statsmodels](https://www.statsmodels.org/stable/_static/statsmodels_hybi_banner.png)

Okay, now here's how you can use format and join to make the formula with **code**:

In [45]:
formula = 'target~{}'.format("+".join(df.columns[:-1])) # join everything except the last one
formula

'target~temp_median+temp_min+temp_max+rain+finals_week'

In [46]:
model = sm.OLS(df.target, df.drop('target', axis=1)).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                 target   R-squared (uncentered):                   0.991
Model:                            OLS   Adj. R-squared (uncentered):              0.991
Method:                 Least Squares   F-statistic:                              7620.
Date:                Tue, 27 Aug 2019   Prob (F-statistic):                        0.00
Time:                        13:39:05   Log-Likelihood:                         -851.48
No. Observations:                 365   AIC:                                      1713.
Df Residuals:                     360   BIC:                                      1732.
Df Model:                           5
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
temp_median     0.1192      0.202      0.590      0.555      -0.278       0.516
temp_min        0.1146      0.117      0.977      0.329      -0.116       0.345
temp_max        0.7313      0.102      7.179      0.000       0.531       0.932
rain           -0.0552      0.011     -5.112      0.000      -0.076      -0.034
finals_week     5.4816      0.289     18.989      0.000       4.914       6.049
==============================================================================
Omnibus:                       20.752   Durbin-Watson:                   1.721
Prob(Omnibus):                  0.000   Jarque-Bera (JB):                9.729
Skew:                          -0.175   Prob(JB):                      0.00771
Kurtosis:                       2.281   Cond. No.                         85.8
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [47]:
df2 = df.drop(columns = ["temp_median", "temp_min","target"])
formula2 = 'target~temp_max+rain+finals_week'
model2 = sm.OLS(df.target, df2).fit()
model2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                 target   R-squared (uncentered):                   0.990
Model:                            OLS   Adj. R-squared (uncentered):              0.990
Method:                 Least Squares   F-statistic:                          1.245e+04
Date:                Tue, 27 Aug 2019   Prob (F-statistic):                        0.00
Time:                        13:41:14   Log-Likelihood:                         -856.04
No. Observations:                 365   AIC:                                      1718.
Df Residuals:                     362   BIC:                                      1730.
Df Model:                           3
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
temp_max        0.8991      0.006    147.698      0.000       0.887       0.911
rain           -0.0482      0.011     -4.525      0.000      -0.069      -0.027
finals_week     5.4950      0.291     18.854      0.000       4.922       6.068
==============================================================================
Omnibus:                       17.939   Durbin-Watson:                   1.722
Prob(Omnibus):                  0.000   Jarque-Bera (JB):                9.568
Skew:                          -0.208   Prob(JB):                      0.00836
Kurtosis:                       2.325   Cond. No.                         60.5
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [49]:
regression_object = smf.ols(formula = formula2, data = df).fit()
regression_object.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 target   R-squared:                       0.723
Model:                            OLS   Adj. R-squared:                  0.720
Method:                 Least Squares   F-statistic:                     313.5
Date:                Tue, 27 Aug 2019   Prob (F-statistic):          3.85e-100
Time:                        13:48:16   Log-Likelihood:                -824.09
No. Observations:                 365   AIC:                             1656.
Df Residuals:                     361   BIC:                             1672.
Df Model:                           3
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept       6.4321      0.774      8.310      0.000       4.910       7.954
temp_max        0.6685      0.028     23.622      0.000       0.613       0.724
rain           -0.0575      0.010     -5.847      0.000      -0.077      -0.038
finals_week     5.1841      0.270     19.200      0.000       4.653       5.715
==============================================================================
Omnibus:                       38.795   Durbin-Watson:                   1.929
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               12.850
Skew:                           0.153   Prob(JB):                      0.00162
Kurtosis:                       2.133   Cond. No.                         176.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

### What's the actual multivariable  linear regression equation with the coefficients?

$$ \hat y = \hat\beta_0 + \hat\beta_1 x_1 + \hat\beta_2 x_2 +\ldots + \hat\beta_n x_n $$

#### Step 3: Assess the model fit
Demonstrate and Apply:

**Discussion:**

In groups of 2 or 3 write a synopsis of the following summary

* What can you say about the coefficients?

* What do the p-values tell us?

* What does R^2 represent

* What other insights do you notice?


#### Step 4: Validate the model 
![scikit](https://cdn-images-1.medium.com/max/1200/1*-FHtcdQljtGKQGm77uDIyQ.png)
- Build LinReg Model with Scikit-Learn
- Check some of the linear regression assumptions

[Documentation for sklearn `LinearRegression()`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html)

In [57]:
linreg = LinearRegression()
X = df.drop("target", axis=1)
y = df.target
X.head()

#### Train test split
[sklearn function documentation](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html)

#### So far we've used the whole dataset to build a model
![img1](whole_data.png)

#### But no promise how it will perform on new data

![img2](new_data.png)

#### So we split to help evaluate
![img3](tt_split.png)

In [60]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [59]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)
# linreg.fit(X_train, y_train)
# linreg.coef_
# linreg.intercept_
# linreg.score(X_test, y_test)

   temp_median  temp_min  temp_max  rain  finals_week
0        27.30      23.9      32.5   0.0          0.0
1        27.02      24.5      33.5   0.0          0.0
2        24.82      22.4      29.9   0.0          1.0
3        23.98      21.5      28.6   1.2          1.0
4        23.82      21.0      28.3   0.0          0.0

In [61]:
# use fit to form model
linreg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [63]:
linreg.get_params()

{'copy_X': True, 'fit_intercept': True, 'n_jobs': None, 'normalize': False}

In [64]:
linreg.coef_

array([ 0.13170906, -0.01346525,  0.59785918, -0.06122794,  5.04120341])

In [65]:
linreg.intercept_

5.847080517082123

### Model evaluation

So far this looks very similar to `Statsmodels`.
Can you use the `LinearRegression` documentation to find:
- model coefficients?
- coefficients p-values?

In [66]:
# gives you r squared of the model
linreg.score(X_test, y_test)

0.7231044676175462

In [67]:
model_sav = linreg
type(model_sav)

sklearn.linear_model.base.LinearRegression

`score` here returns the R^2.

How does it differ from when you use the whole dataset?

In [ ]:
# pretty similar

#### Saving model

![pickle](https://lovelygreens.com/wp-content/uploads/grandmas-dill-pickles-750x440.jpg)

```
model = LinearRegression()
model.fit(X_train, y_train)
with open('model.pkl', 'wb') as f:
    pickle.dump(model, f)
```


then to reload later:

```
with open('model.pkl', 'rb') as f:
    model = pickle.load(f)
```

In [68]:
import pickle
with open('model.pkl','wb') as f:
    pickle.dump(model_sav, f)

In [69]:
!ls

Consumo_cerveja.csv
building-construction-building-site-constructing-small.jpg
model.pkl
multivariable-linear-regression_YL.ipynb
new_data.png
pexels-photo-544988-small.jpeg
sample-data.csv
tt_split.png
whole_data.png

### Integration:

Repeat this process for concrete mixture. 
What combination of materials creates the strongest concrete compressive strength?

The documentation can be found [here](http://archive.ics.uci.edu/ml/datasets/concrete+compressive+strength)
![test](building-construction-building-site-constructing-small.jpg)

In [71]:
concrete = pd.read_excel('http://archive.ics.uci.edu/ml/machine-learning-databases/concrete/compressive/Concrete_Data.xls')

In [72]:
concrete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
Cement (component 1)(kg in a m^3 mixture)                1030 non-null float64
Blast Furnace Slag (component 2)(kg in a m^3 mixture)    1030 non-null float64
Fly Ash (component 3)(kg in a m^3 mixture)               1030 non-null float64
Water  (component 4)(kg in a m^3 mixture)                1030 non-null float64
Superplasticizer (component 5)(kg in a m^3 mixture)      1030 non-null float64
Coarse Aggregate  (component 6)(kg in a m^3 mixture)     1030 non-null float64
Fine Aggregate (component 7)(kg in a m^3 mixture)        1030 non-null float64
Age (day)                                                1030 non-null int64
Concrete compressive strength(MPa, megapascals)          1030 non-null float64
dtypes: float64(8), int64(1)
memory usage: 72.5 KB

In [73]:
concrete.head()

,Cement (component 1)(kg in a m^3 mixture),Blast Furnace Slag (component 2)(kg in a m^3 mixture),Fly Ash (component 3)(kg in a m^3 mixture),Water (component 4)(kg in a m^3 mixture),Superplasticizer (component 5)(kg in a m^3 mixture),Coarse Aggregate (component 6)(kg in a m^3 mixture),Fine Aggregate (component 7)(kg in a m^3 mixture),Age (day),"Concrete compressive strength(MPa, megapascals)"
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.986111
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.887366
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.269535
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.052780
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.296075

In [79]:
names = ["c1", "c2", "c3", "c4", "c5", "c6", "c7", "age", "ccs"]
concrete.columns = names
concrete.head()

      c1     c2   c3     c4   c5      c6     c7  age        ccs
0  540.0    0.0  0.0  162.0  2.5  1040.0  676.0   28  79.986111
1  540.0    0.0  0.0  162.0  2.5  1055.0  676.0   28  61.887366
2  332.5  142.5  0.0  228.0  0.0   932.0  594.0  270  40.269535
3  332.5  142.5  0.0  228.0  0.0   932.0  594.0  365  41.052780
4  198.6  132.4  0.0  192.0  0.0   978.4  825.5  360  44.296075

In [81]:
concrete.describe()

,c1,c2,c3,c4,c5,c6,c7,age,ccs
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.165631,73.895485,54.187136,181.566359,6.203112,972.918592,773.578883,45.662136,35.817836
std,104.507142,86.279104,63.996469,21.355567,5.973492,77.753818,80.175427,63.169912,16.705679
min,102.000000,0.000000,0.000000,121.750000,0.000000,801.000000,594.000000,1.000000,2.331808
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.707115
50%,272.900000,22.000000,0.000000,185.000000,6.350000,968.000000,779.510000,28.000000,34.442774
75%,350.000000,142.950000,118.270000,192.000000,10.160000,1029.400000,824.000000,56.000000,46.136287
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.599225

In [82]:
concrete.isna().sum()

c1     0
c2     0
c3     0
c4     0
c5     0
c6     0
c7     0
age    0
ccs    0
dtype: int64

In [83]:
concrete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
c1     1030 non-null float64
c2     1030 non-null float64
c3     1030 non-null float64
c4     1030 non-null float64
c5     1030 non-null float64
c6     1030 non-null float64
c7     1030 non-null float64
age    1030 non-null int64
ccs    1030 non-null float64
dtypes: float64(8), int64(1)
memory usage: 72.5 KB

In [84]:
formula = 'ccs~{}'.format("+".join(concrete.columns[:-1]))

In [86]:
from statsmodels.formula.api import ols
model = ols(formula=formula, data = concrete).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    ccs   R-squared:                       0.615
Model:                            OLS   Adj. R-squared:                  0.612
Method:                 Least Squares   F-statistic:                     204.3
Date:                Tue, 27 Aug 2019   Prob (F-statistic):          6.76e-206
Time:                        14:19:18   Log-Likelihood:                -3869.0
No. Observations:                1030   AIC:                             7756.
Df Residuals:                    1021   BIC:                             7800.
Df Model:                           8
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    -23.1638     26.588     -0.871      0.384     -75.338      29.010
c1             0.1198      0.008     14.110      0.000       0.103       0.136
c2             0.1038      0.010     10.245      0.000       0.084       0.124
c3             0.0879      0.013      6.988      0.000       0.063       0.113
c4            -0.1503      0.040     -3.741      0.000      -0.229      -0.071
c5             0.2907      0.093      3.110      0.002       0.107       0.474
c6             0.0180      0.009      1.919      0.055      -0.000       0.036
c7             0.0202      0.011      1.883      0.060      -0.001       0.041
age            0.1142      0.005     21.046      0.000       0.104       0.125
==============================================================================
Omnibus:                        5.379   Durbin-Watson:                   1.281
Prob(Omnibus):                  0.068   Jarque-Bera (JB):                5.305
Skew:                          -0.174   Prob(JB):                       0.0705
Kurtosis:                       3.045   Cond. No.                     1.06e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.06e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [87]:
linreg = LinearRegression()
X = concrete.drop("ccs", axis=1)
y = concrete.ccs
X.head()

      c1     c2   c3     c4   c5      c6     c7  age
0  540.0    0.0  0.0  162.0  2.5  1040.0  676.0   28
1  540.0    0.0  0.0  162.0  2.5  1055.0  676.0   28
2  332.5  142.5  0.0  228.0  0.0   932.0  594.0  270
3  332.5  142.5  0.0  228.0  0.0   932.0  594.0  365
4  198.6  132.4  0.0  192.0  0.0   978.4  825.5  360

In [88]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [89]:
linreg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [90]:
print(linreg.coef_)
print(linreg.intercept_)
print(linreg.score(X_test, y_test))

[ 0.12313254  0.10862256  0.09612559 -0.14213169  0.25862835  0.02237539
  0.02553878  0.11276175]
-34.65316640648949
0.63101747128675

In [91]:
model_sav_concrete = linreg

In [92]:
import pickle
with open('model_sav_concrete.pkl','wb') as f:
    pickle.dump(model_sav_concrete, f)

In [93]:
!ls

Consumo_cerveja.csv
building-construction-building-site-constructing-small.jpg
model.pkl
model_sav_concrete.pkl
multivariable-linear-regression_YL.ipynb
new_data.png
pexels-photo-544988-small.jpeg
sample-data.csv
tt_split.png
whole_data.png

In [94]:
with open('model_sav_concrete.pkl', 'rb') as f:
    model_sav_concrete = pickle.load(f)

In [95]:
model_sav_concrete

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [96]:
model_sav_concrete.coef_

array([ 0.12313254,  0.10862256,  0.09612559, -0.14213169,  0.25862835,
        0.02237539,  0.02553878,  0.11276175])

### Assessment

### Reflection

### Resources

Resources
https://towardsdatascience.com/linear-regression-detailed-view-ea73175f6e86

Full code implementation of Linear Regression
Full code — https://github.com/SSaishruthi/Linear_Regression_Detailed_Implementation

Multiple regression explained
https://www.statisticssolutions.com/what-is-multiple-linear-regression/