<h1 style='text-align:center'>NoSQL - Not Only SQL</h1>

#### What's wrong with SQL?

- SQL offers a ton of structure for storing data 
    - That structure requires data to come in, in a certain way (aka your data must have structure) 
    - Structure comes at the cost of speed 
    
    
- SQL structure is very rigid - if you want to change the schema it requires you to change all of your existing data to match the new schema 


- Large data requires distributed computing (many computers working together to accomplish the same task) - Executing distributed joins is a very complex problem in relational databases.

#### What does NoSQL offer?

- Schemaless âˆ’ Number of fields, content and size of the data object can differ from one data object to another.
- You can store virtually any kind of data. 
- Structure of a single object is clear.
- No complex joins.
- To scale up and handle more queries, just add more machines
- You can change the schema of your database on the fly

#### Types of NoSQL Databases

<img style='width: 400px' src='images/nosql-types.png/'>

key-value: dictionary
Graph DB for blog
column family

<b>Document databases</b> pair each key with a complex data structure known as a document. Documents can contain many different key-value pairs, or key-array pairs, or even nested documents.

<img  style='align: center; width:150px' src='images/mongodb.png' />
<img style='align: center;' src='images/couchdb.png' />
<img style='align: center; width: 200px' src='images/documentdb.png' />

<b>Graph stores</b> are used to store information about networks of data, such as social connections. Graph stores include Neo4J and Giraph.

<img  style='align: center; width:150px' src='images/ApacheGiraph.svg' />
<img style='align: center;' src='images/neo4j.png' />

<b>Key-value</b> stores are the simplest NoSQL databases. Every single item in the database is stored as an attribute name (or 'key'), together with its value. Examples of key-value stores are Riak and Berkeley DB.

<b>Wide-column stores</b> such as Cassandra and HBase are optimized for queries over large datasets, and store columns of data together, instead of rows.

## What is MongoDB

MongoDB stores data in flexible, JSON-like documents, meaning fields can vary from document to document and data structure can be changed over time

<b>Data Structure</b>

Single Entry = Document

```json
{ 
  _id: ObjectId(8af37bd7891c), 
  title: 'MongoDB Lab',
  description: 'Introductory lab on how to use MongoDB',
  by: 'Flatiron School',
  topics: ['mongodb', 'database', 'NoSQL', 'JSON']  
}
```

object ID --> primary key

You can embed documents inside documents!

<img src ='images/househouse.gif' />

```json
{ 
  _id: ObjectId(8af37bd78ssc), 
  title: 'Other Lab',
  description: 'Introductory lab on how to use something',
  by: 'Flatiron School',
  topics: ['blah', 'blah', 'blah', 'blah'],
  author: {
            _id: ObjectId(83928shkjw183),
            name: 'Andy Enkeboll',
            building: 'Metropolitan Square'
          }
}
```

##### Why would we want to nest objects?

Multiple Documents = Collection

Mongo collection = mongo document = mongo table  collection is more professional

In [2]:

{ 
  _id: ObjectId(8af37bd7891c), 
  title: 'MongoDB Lab',
  description: 'Introductory lab on how to use MongoDB',
  by: 'Flatiron School',
  topics: ['mongodb', 'database', 'NoSQL', 'JSON']  
}, 
{ 
  _id: ObjectId(8af37bd78ssc), 
  title: 'Other Lab',
  description: 'Introductory lab on how to use something',
  by: 'Flatiron School',
  topics: ['blah', 'blah', 'blah', 'blah']  
}

SyntaxError: invalid syntax (<ipython-input-2-eb565a8f8b42>, line 3)

#### Working with MongoDB

Assuming you have installed/setup mongo and pip installed pymongo...

In [3]:
import pymongo

In [5]:
client = pymongo.MongoClient("mongodb://127.0.0.1:27017/")
# 127.0.0.1 home refer to my computer == local host
# connection to mongo

# grab a database from your server 
db = client['example_data']

#t his can be a new one or an existing one
# (if it doesn't exist, it will get create when you write data into it)

In [6]:
client.list_database_names()
# see all the db created
# the previous db is empty, so it won't show

['admin', 'config', 'local', 'test']

In [8]:
# initialize an empty collection - this where your 'documents' will go
coll = db['example_collection']
# inside db create new collection

In [9]:
example_data = {'name': 'John Doe', 'address': '123 elm street',
                'age': 28, 'children': ['Jane', 'Joe']}
coll.insert_one(example_data)

In [12]:
client.list_database_names()
# see all the db created

['admin', 'config', 'example_data', 'local', 'test']

In [13]:
db.list_collection_names()
# see all the db created

['example_collection']

In [14]:
#get all the documents in a collection
query = coll.find({})

In [15]:
for document in query:
    print(document)

{'_id': ObjectId('5d4c6b1c9cb0ef88913a9026'), 'name': 'John Doe', 'address': '123 elm street', 'age': 28, 'children': ['Jane', 'Joe']}

In [16]:
query.count()

/Users/yl/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """Entry point for launching an IPython kernel.

1

In [19]:
coll.count_documents({})

1

In [21]:
example_data_2 = [{'name': 'Andy', 'address': 'DC'},
                  {'name': 'Marisa', 'address': 'MD'},
                  {'name': 'Ammar'}
                  ]
coll.insert_many(example_data_2)

In [23]:
query_1 = coll.find({})

In [24]:
for document in query_1:
    print(document)

{'_id': ObjectId('5d4c6b1c9cb0ef88913a9026'), 'name': 'John Doe', 'address': '123 elm street', 'age': 28, 'children': ['Jane', 'Joe']}
{'_id': ObjectId('5d4c6cd59cb0ef88913a9027'), 'name': 'Andy', 'address': 'DC'}
{'_id': ObjectId('5d4c6cd59cb0ef88913a9028'), 'name': 'Marisa', 'address': 'MD'}
{'_id': ObjectId('5d4c6cd59cb0ef88913a9029'), 'name': 'Ammar'}

In [25]:
query_2 = coll.find({'name': 'John Doe'})

In [26]:
for document in query_2:
    print(document)

{'_id': ObjectId('5d4c6b1c9cb0ef88913a9026'), 'name': 'John Doe', 'address': '123 elm street', 'age': 28, 'children': ['Jane', 'Joe']}

In [27]:
query_3 = coll.find({'name': 'Andy'})
for document in query_3:
    print(document)

{'_id': ObjectId('5d4c6cd59cb0ef88913a9027'), 'name': 'Andy', 'address': 'DC'}

In [30]:
coll.find({'name': {'$in':['Marisa', 'Ammar']}})
for document in _:
    print(document)

TypeError: 'UpdateResult' object is not iterable

In [31]:
#updating records is super easy! 
record_to_update = {'name' : 'John Doe'}
update_1 = {'$set': {'age': 29, 'birthday': '2/8/1990'}}
# $ specific for mongo
coll.update_many(record_to_update, update_1)

In [32]:
#searching in a list in a document
query_4 = coll.find({'children': 'Jane'})
for item in query_4:
    print(item)

{'_id': ObjectId('5d4c6b1c9cb0ef88913a9026'), 'name': 'John Doe', 'address': '123 elm street', 'age': 29, 'children': ['Jane', 'Joe'], 'birthday': '2/8/1990'}

In [34]:
#removing a key:value from a document
update_2 = {'$unset': {'birthday': ''}}

coll.update_many(record_to_update, update_2)

In [36]:
query_5 = coll.find({'name': 'John Doe'})
for item in query_5:
    print(item)

{'_id': ObjectId('5d4c6b1c9cb0ef88913a9026'), 'name': 'John Doe', 'address': '123 elm street', 'age': 29, 'children': ['Jane', 'Joe']}

In [37]:
#delete record
coll.delete_one({'name' : 'John Doe'})

In [38]:
#delete all records
coll.delete_many({})

### Working with Images

In [40]:
import requests

In [41]:
resp = requests.get('https://www.dictionary.com/e/wp-content/uploads/2018/04/mongo.jpg')

In [43]:
resp.status_code

200

In [42]:
img = resp.content

In [46]:
newdict = {'a': 4, 'image': img}
coll.insert_one(newdict)

In [47]:
_.inserted_id

ObjectId('5d4c6f849cb0ef88913a902a')

In [49]:
from IPython.display import Image

results = coll.find_one({'_id': _})
newimg = results.get('image')

# len(newimg)
# # Image(newimg)
# with open('/Users/enkeboll/Downloads/mongo.jpg', 'wb') as f:
#     f.write(newimg)

In [50]:
Image(newing)

NameError: name 'newing' is not defined