# Pandas Practice #1 - Solution

Given the dictionary ```exam_data``` write code in the cell below that:

* Reads data into a Pandas dataframe named ```df```
* Sorts the data frame first by 'name' in descending order, then by 'score' in ascending order and name that sorted dataframe ```sorted```

In [5]:
import pandas as pd
import numpy as np
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

In [6]:
# your code here
df = pd.DataFrame(exam_data)

In [9]:
df.sort_values(by=['name', 'score'], ascending=[False, True])

        name  score  attempts qualify
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    NaN         1      no
8      Kevin    8.0         2      no
2  Katherine   16.5         2     yes
9      Jonas   19.0         1     yes
3      James    NaN         3      no
4      Emily    9.0         2      no
1       Dima    9.0         3      no
0  Anastasia   12.5         1     yes